POSTGRES_USER=admin_user
POSTGRES_PASSWORD=PasswordForAdmin_user
POSTGRES_DB=n8n #name for the database managed by n8n

POSTGRES_NON_ROOT_USER=n8n #n8n postgres's user
POSTGRES_NON_ROOT_PASSWORD=n8n_password #password for n8n postgres's user
